<div class="page_wrapper">
    <div id="profile_image">
        <%= image_tag 'mrsmile.jpg' %>
    </div>

    <div id="content">
        <h1>Dr. Smiles</h1>
        <p>Lorem ipsum dolor amet salvia taxidermy offal, hella sustainable woke before they sold out hashtag post-ironic selvage bespoke flexitarian. Craft beer palo santo schlitz franzen gluten-free pork belly wayfarers pok pok master cleanse street art authentic yr migas typewriter cornhole. Shaman selvage leggings green juice synth paleo gluten-free YOLO plaid you probably haven't heard of them gastropub helvetica. Vape lomo blue bottle gochujang hella literally, palo santo celiac godard tousled snackwave. Tattooed kombucha twee wolf, blue bottle vinyl street art.</p>

    </div>

</div>